/* public Api */
/* rest countries.com */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #96B6C5;  
}
img{
    max-width:100%;
    display: block;
    height: 200px;
    margin-bottom: 10px;
}

.container {
    width: 100%;
    min-height:100vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #96B6C5;

}

.country-box{
    padding: 10px;
    width: 300px;
    height: 60vh;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #EEE0C9;
}

.country-description img{
    margin-bottom: 10px;
    
}
.head{
    text-align: center;
    margin-bottom: 10px;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items:center ;
    margin-bottom: 5px;
}

.search-bar{
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
}
.search-bar input{
    width: 10px;
    height: 40px;
    border-radius: 12px 0 0 12px;
    background-color: #EEE0C9;
    transition: 1s ease;
    padding-left: 20px;
    
}

input:focus{
    outline: none;
}
.search-bar button{
    height: 40px;
    width:100px;
    /* border: 2px solid black; */
    border-radius: 11px 11px 11px 11px;
    position: relative;
    right:50px ;
    top:1px;
    background-color: #96B6C5;
    transition: 2s ease;
}



